html, body {
    min-height: 100vh;
    min-width: 100vh;
}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.footer, .hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: auto;
}
.hero, .info, .cards, .call {
    display: flex;
    height: 20%;
    flex: 1;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.hero-content h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-content p {
    display: flex;
    color: #e5e7eb;
    margin: 0;
    font-size: 18px;
}

.hero-content button {
    border: 0px;
}

.hero-image {
    width: 300px;
    height: 150px;
    background-color: grey;
    border-radius: 5px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button, .action {
    background-color: #3882f6;
}

.action {
    display: flex;
    height: 150px;
    width: 700px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
}

.action h3 {
    color: #e5e7eb;
}

.action button {
    border: 2px solid #e5e7eb;
}

.card {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: 5px solid #3882f6;
}

.cards {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

button {
    color: #e5e7eb;
    border-radius: 8px;
    padding: 8px;
    width: 75px;
}

blockquote {
    display: flex;
    flex-wrap: wrap;
    background-color: #e5e7eb;
    width: inherit;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content: center;
    align-items: center;
    padding: 20px 33%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}